
#logo{
	color:#615873;

}

#nav a:hover{

	color:#338A84;
}

#hello{
	color:#white;
	 text-shadow: 2px 2px #750975;
	 line-height:1.4;
}
#dos{
	color:#CC2991;
}

#tres{
	color:#899FAD;
}
#cuatro{
	color:#F77C00;
}
#cinco{
	color:#CF5D5D;
}
#seis{
	color:#191F21;
}
.secondpage{
	color:#CC2991;
	line-height:2;
	line-height:2;
}
.thirdpage{
	color:#899FAD;
	line-height:2;
}
.fourthpage{
	color:#F77C00;
	line-height:2;
}
.fifthpage{
	color:#CF5D5D;
	line-height:2;
}
#essentialquestion{
	font-family:'Source Sans Pro', sans-serif;
	font-size:32px;
	 text-shadow: 2px 2px #750975;
	 line-height:1.4;
}	

#introwords{
	 text-shadow: 2px 2px #750975;
	font-size:50px;
	line-height:1.4;
}
#footer{
	background:#615873;
}

#pic6, #pic1, #pic2, #pic3, #pic4, #pic5{
	height:600px;
	width:450px;
}




